{% extends 'base.html' %}


{% block title %} Lista cu jucători {% endblock title %}

{% block content %}

     <div class="row g-1 mt-3 pt-3">
        <div class="col-md-10 offset-md-1">
            <div class="row gy-3 mb-1 mt-1">
                {% for player in all_players %}
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="card w3-hover-border-blue border-white bg-light h-100">
                            {% if player.poza %}
                                <img class="card-img-top" src="{{ player.poza.url }}" alt="Jucător">
                            {% else %}
                                <img
                                        class="card-img-top" src="/playerPicture/LC.JPG" alt="Jucător">
                            {% endif %}
                            <div class=" card-body">
                                <h5 class="card-title"><strong>{{ player.porecla }}, {{ player.varsta }} ani</strong>
                                </h5>
                                <p class="card-text">{{ player.descriere }}</p>
                                {% if perms.player.add_player %}
                                    <a href="{% url 'update_player' player.id %}" class="btn btn-info">Actualizare</a>
                                    <a href="{% url 'delete_player' player.id %}" class="btn btn-danger">Stergere</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="card w3-hover-border-blue border-white bg-light h-100">
                            {% if player.poza %}
                                <img class="card-img-top" src="{{ player.poza.url }}" alt="Jucător">
                            {% else %}
                                <img
                                        class="card-img-top" src="/playerPicture/AS.jpg" alt="Jucător">
                            {% endif %}
                            <div class=" card-body">
                                <h5 class="card-title"><strong>{{ player.porecla }}, {{ player.varsta }} ani</strong>
                                </h5>
                                <p class="card-text">{{ player.descriere }}</p>
                                {% if perms.player.add_player %}
                                    <a href="{% url 'update_player' player.id %}" class="btn btn-info">Actualizare</a>
                                    <a href="{% url 'delete_player' player.id %}" class="btn btn-danger">Stergere</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="card w3-hover-border-blue border-white bg-light h-100">
                            {% if player.poza %}
                                <img class="card-img-top" src="{{ player.poza.url }}" alt="Jucător">
                            {% else %}
                                <img
                                        class="card-img-top" src="/playerPicture/LS.JPG" alt="Jucător">
                            {% endif %}
                            <div class=" card-body">
                                <h5 class="card-title"><strong>{{ player.porecla }}, {{ player.varsta }} ani</strong>
                                </h5>
                                <p class="card-text">{{ player.descriere }}</p>
                                {% if perms.player.add_player %}
                                    <a href="{% url 'update_player' player.id %}" class="btn btn-info">Actualizare</a>
                                    <a href="{% url 'delete_player' player.id %}" class="btn btn-danger">Stergere</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
