{% extends 'base.html' %}
{% block title %}Actualizare pentru {{ player.nume }} {{ player.prenume }}{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Update - {{ player.nume }} {{ player.prenume }}</h3>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-primary">Actualizare</button>
                            <a href="{% url 'list_of_players' %}" class="btn btn-secondary">Inapoi la lista cu jucători</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}