{% extends 'base.html' %}
{% block title %} Adaugă eveniment {% endblock %}

{% block content %}
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="shadow-sm p-3 mb-5 bg-body rounded">
                        <h3>Crează eveniment</h3>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-primary">Salvare</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}