{% extends 'base.html' %}
{% block title %} Lista cu evenimente {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                {% if all_events %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nume eveniment</th>
                            <th>Tipul de sport</th>
                            <th>De la/Pana la</th>
                            <th>Dificultate</th>
                            <th>Gen</th>
                            <th>Decriere</th>
                            <th>Localitate</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for event in all_events%}
                            <tr>
                                <td>{{ event.nume }}</td>
                                <td>{{ event.sporturi }}</td>
                                <td>{{ event.de_la }} {{ event.pana_la }}</td>
                                <td>{{ event.dificultate }} </td>
                                <td>{{ event.gen }} </td>
                                <td>{{ event.descriere }} </td>
                                <td>{{ event.localitate }} </td>


                                <td>
                                    <a href="{% url 'update_event' event.id %}" class="btn btn-info">Actualizare</a>
                                    <a href="{% url 'delete_event' event.id %}" class="btn btn-danger">Stergere</a>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h3 class="text-center">Nu există informaţii</h3>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
