{% extends "base.html" %}
{% block title %} Intrare in cont {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 offset-md-8">
                <div class="card" style="margin-top:30%">
                    <div class="card-header">
                        <h4 class="text-center">Autentificare</h4>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            {{ form.as_p }}
                        </div>
                        <div class="btn-group">
                            <button type="submit" class="btn btn-success">Intra in cont</button>
                            <button type="submit" class="btn btn-info " style="margin-left:20%">
                                <a href="{% url 'create_user' %}">Crează cont nou</a>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}





