{% extends 'base.html' %}
{% block title %} Adaugă locatie{% endblock %}
{% block content %}
    <div class="container wow fadeIn">
        <div class="row g-2">
             <div class="col-md-6 offset-md-2">
                <div class="card">
                    <div class="shadow-sm p-3 mb-7 text-center rounded" style="background-color: #F8D486">
                        <h3>Crează locatie</h3>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body" style="background: bisque">
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer text-center rounded" style="background-color: #F8D486">
                            <button type="submit" class="btn btn-transparent border-primary rounded-pill">Salvare</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}