{% extends 'base.html' %}
{% block title %} Lista cu locaţii{% endblock %}

{% block content %}
       <div class="container-fluid">
        <div class="row g-5 mt-5 pt-5">
            <div class="col-md-10 offset-md-12">
                 <div class="shadow-sm text-center rounded" style="background-color: #F8D486; margin-top: 5%">
                {% if all_locations %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Denumire</th>
                            <th>Localitate</th>
                            <th>Adresă</th>
                            <th>Descriere</th>
                            {% if perms.location.add_location %}
                            <th>Acţiuni</th>
                                {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for location in all_locations %}
                            <tr>
                                <td>{{ location.nume }}</td>
                                <td>{{ location.oras }}</td>
                                <td>{{ location.adresa }} </td>
                                <td>{{ location.descriere }} </td>
                                {% if perms.location.add_location %}
                                <td>
                                    <a href="{% url 'update_location' location.id %}" class="btn btn-info">Actualizare</a>
                                    <a href="{% url 'delete_location' location.id %}" class="btn btn-danger">Stergere</a>
                                </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h3 class="text-center">Nu există informaţii</h3>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
