{% extends 'base.html' %}
{% block title %}Actualizare pentru locaţia {{ location.nume }} {% endblock %}
{% block content %}
       <div class="container-fluid mt-5 pt-5">

         <div class="row mt-5 pt-5">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <div class="shadow-sm p-3 mb-5 text-center rounded" style="background-color: #F8D486;">

                        <h3> Actualizare - {{ location.nume }}</h3>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-primary">Actualizare</button>
                            <a href="{% url 'list_of_locations' %}" class="btn btn-secondary">Inapoi la lista cu locaţii</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}