{% load static %}

<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'img/carousel_home/logo.jpg' %}" style="width:200px;"
                 alt="Find your Team">
        </a>


        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation" aria-controls="navbarToggleExternalContent"
                style="border: black">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown text-dark fw-bold"
                       data-bs-toggle="dropdown" id="navbarDropdown" role="button"
                       aria-expanded="false">
                        Jucători
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:beige">
                        {% if perms.player.add_player %}
                            <li>
                                <a class="dropdown-item" href="{% url "create_player" %}">Adaugă un jucător</a>
                            </li>
                        {% endif %}
                        <li>
                            <a class="dropdown-item" href="{% url "list_of_players" %}">Lista cu jucători</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown text-dark fw-bold"
                       data-bs-toggle="dropdown" id="navbarDropdown" role="button"
                       aria-expanded="false">
                        Evenimente
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:beige">
                        {% if perms.player.add_event %}
                            <li>
                                <a class="dropdown-item" href="{% url 'create_event' %}">Adaugă un eveniment</a>
                            </li>
                        {% endif %}
                        <li>
                            <a class="dropdown-item" href="{% url "list_of_events" %}">Lista cu evenimente</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown text-dark fw-bold"
                       data-bs-toggle="dropdown" id="navbarDropdown" role="button"
                       aria-expanded="false">
                        Locaţii
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:beige">
                        {% if perms.location.add_location %}
                            <li>
                                <a class="dropdown-item" href="{% url 'create_location' %}">Adaugă o locaţie</a>
                            </li>
                        {% endif %}
                        <li>
                            <a class="dropdown-item" href="{% url "list_of_locations" %}">Lista cu locaţii</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown text-dark fw-bold"
                       data-bs-toggle="dropdown" id="navbarDropdown" role="button"
                       aria-expanded="false">
                        Sporturi
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:beige">
                        {% if perms.sport.add_sport %}
                            <li>
                                <a class="dropdown-item" href="{% url 'create_sport' %}">Adaugă sportul dorit</a>
                            </li>
                        {% endif %}
                        <li>
                            <a class="dropdown-item" href="{% url "list_of_sports" %}">Lista cu sporturi</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="nav-link active dropdown text-dark fw-bold" href="{% url "list_of_photos" %}">
                        Galerie
                    </a>
                </li>
            </ul>

        </div>

        <div class="col-md-1">
            {% if request.user.is_user %}
                <a href="{% url 'logout' %}">
                    <i class="fa-solid fa-right-from-bracket" style="font-size:1.5em; color:#a85757" role="button"></i>
                </a>
            {% else %}
                <a class="navbar-brand" href="{% url 'home' %}"></a>

                <a href="{% url 'login' %}">
                    <i class="fa-regular fa-user" style="font-size: 1.5em; color:dimgrey"></i>
                </a>
            {% endif %}

        </div>
    </div>
    </div>
</nav>
