<nav class="navbar navbar-expand-sm" style="background-color:teal">
    <header class='header-fixed'>
        <div class="container">
            <a class="logo-brand" href="/">
                <img src="css/img/logo.jpg title="Find your Team>
            </a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                    data-target="navbar" aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="text-dark btn" aria-current="page" href="{% url 'home' %}">Despre noi</a>
                    </li>
                    {#                {%  if request.user.is_authenticated and request.user,is_superuser %}#}
                    {#                {% if request.user.is_authenticated %}#}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Jucatori

                        </a>


                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {#                    {% if perms.jucator.add_jucator %}#}
                            <li><a class="dropdown-item" href="{% url "create_player" %}">Adauga un jucator</a></li>
                            {#                    {% endif %}#}
                            <li><a class="dropdown-item" href="{% url "list_of_players" %}">Lista de jucatori</a></li>
                            {#                {% endif %}#}
                        </ul>
                    </li>
                    {#                  {%  if request.user.is_authenticated and request.user,is_superuser %}#}
                    {#                {% if request.user.is_authenticated %}#}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">

                            Evenimente

                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {#                            {% if perms.echipa.add_echipa %}#}
                            <li><a class="dropdown-item" href="{% url 'create_event' %}">Adauga un eveniment</a>
                            </li>
                            {#                            {% endif %}#}
                            <li><a class="dropdown-item" href="{% url "list_of_events" %}">Lista cu evenimente</a></li>

                        </ul>
                    </li>
                    {#                {% endif %}#}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">


                            Locatii

                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {#                            {% if perms.echipa.add_echipa %}#}
                            <li><a class="dropdown-item" href="{% url 'create_location' %}">Adauga o locatie</a>
                            </li>
                            {#                            {% endif %}#}
                            <li><a class="dropdown-item" href="{% url "list_of_locations" %}">Lista cu locatii</a></li>

                        </ul>
                    </li>
                    {#                {% endif %}#}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">

                            Sporturi

                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {#                            {% if perms.echipa.add_echipa %}#}
                            <li><a class="dropdown-item" href="{% url 'create_sport' %}">Adauga sportul dorit</a>
                            </li>
                            {#                            {% endif %}#}
                            <li><a class="dropdown-item" href="{% url "list_of_sports" %}">Lista cu sporturi</a></li>

                        </ul>
                    </li>
                    {#                {% endif %}#}
</nav>
                </ul>



{% if request.user.is_authenticated %}
    <div class="col-md-6 offset-md-10">
        <a href="{% url 'logout' %}" class="btn btn-success">Iesire din cont, {{ user.first_name }}</a>
    </div>
{% else %}
    <div class="col-md-6 offset-md-10">
    <a href="{% url 'create_user' %}" class="btn btn-secondary">Creaza cont nou</a>
    <a href="{% url 'login' %}" class="btn btn-success">Intrare in cont</a>
{% endif %}
</div>
</div>
</div>
<form class="d-flex">
    <input class="form-control md-8 offset-xl-6" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
</div>
</div>