{% load static %}
<header>
    <div class="main">
        <div class="navbar-expand-md p-3 text-dark bg-opacity-60" style="background: #8fd19e">
            <span class="navbar navbar-inverse navbar-static-top" role="navigation">
                <span class="navbar">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'css/img/logo.jpg' %}" style="width:300px;height:160px "
                             data-toggle="tooltip"
                             title="Find your Team"></a>
                </span>
                     <li class="nav navbar-nav">
                        <div class="icon-bar">
                            <a class="active text-dark btn fw-bold fs-2" aria-current="page" href="{% url 'home' %}"><i
                                    class="fa fa-home" style="width:80px; height:60px"></i></a>
                        </div>
                        {#                {%  if request.user.is_authenticated and request.user,is_superuser %}#}
                        {#                {% if request.user.is_authenticated %}#}
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark btn fw-bold fs-2" id="navbarDropdown"
                               role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Jucatori
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:beige">
                                {#                    {% if perms.jucator.add_jucator %}#}
                                <li>
                                    <a class="dropdown-item" href="{% url "create_player" %}">Adauga un jucator</a>
                                </li>
                                {#                    {% endif %}#}
                                <li>
                                    <a class="dropdown-item" href="{% url "list_of_players" %}">Lista de jucatori</a>
                                </li>
                                {#                {% endif %}#}
                            </ul>
                        </div>
                        {#                  {%  if request.user.is_authenticated and request.user,is_superuser %}#}
                        {#                {% if request.user.is_authenticated %}#}
                        <div class="nav-item justify-content-lg-around dropdown">
                            <a class="nav-link dropdown-toggle text-dark btn fw-bold fs-2" id="navbarDropdown"
                               role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Evenimente
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:beige">
                                {#                            {% if perms.echipa.add_echipa %}#}
                                <li>
                                    <a class="dropdown-item" href="{% url 'create_event' %}">Adauga un eveniment</a>
                                </li>
                                {#                            {% endif %}#}
                                <li>
                                    <a class="dropdown-item" href="{% url "list_of_events" %}">Lista cu evenimente</a>
                                </li>
                            </ul>
                        </div>
                        {#                {% endif %}#}
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark btn fw-bold fs-2" id="navbarDropdown"
                               role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Locatii
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:beige">
                                {#                            {% if perms.echipa.add_echipa %}#}
                                <li>
                                    <a class="dropdown-item" href="{% url 'create_location' %}">Adauga o locatie</a>
                                </li>
                                {#                            {% endif %}#}
                                <li>
                                    <a class="dropdown-item" href="{% url "list_of_locations" %}">Lista cu locatii</a>
                                </li>
                            </ul>
                        </div>
                        {#                {% endif %}#}
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark btn fw-bold fs-2" id="navbarDropdown"
                               role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Sporturi
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:beige">
                                {#                            {% if perms.echipa.add_echipa %}#}
                                <li>
                                    <a class="dropdown-item" href="{% url 'create_sport' %}">Adauga sportul dorit</a>
                                </li>
                                {#                            {% endif %}#}
                                <li>
                                    <a class="dropdown-item" href="{% url "list_of_sports" %}">Lista cu sporturi</a>
                                </li>
                            </ul>
                        </div>
                        {#                {% endif %}#}

                     <div class="nav-item">
                        <a class="nav-link btn text-dark fw-bold fs-2" href="{% url "list_of_photos" %}" role="button"
                           aria-expanded="false">
                            Galerie foto
                        </a>
                     </div>
                     </li>
                     <div class="navbar">

                            {% if request.user.is_authenticated %}
                                <a href="{% url 'logout' %}" >
                                    <img src="{% static 'fontawesome-free-6.1.1-desktop/svgs/regular/circle-right.svg' %}"
                                     style="width:80px; height:60px;">
                            {% else %}
                                </a>
                        </div>
                        <div class="navbar">
                            <a href="{% url 'login' %}" class="bi-split">
                                <img src="{% static 'fontawesome-free-6.1.1-desktop/svgs/regular/user.svg' %}"
                                     style="width:80px; height:60px;">

                           {% endif %}
                            </a>
                        </div>
                </span>
            </div>
        </div>
    </div>
</header>


