{% load static %}
<header>
    <nav class="navbar-expand-md bg-success p-3 text-dark bg-opacity-70">
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">

            <div class="navbar">
                <a href="{% url 'home' %}">
                    <img src="{% static 'css/img/logo.jpg' %}" style="width:260px;height:180px " title="Find your Team"></a>
            </div>

            {#                {% if request.user.is_authenticated %}#}
            {#                    <a href="{% url 'logout' %}">Iesire din cont, {{ user.first_name }}</a>#}
            {#                {% else %}#}
            <a href="{% url 'login' %}">
                <img src="{% static 'fontawesome-free-6.1.1-desktop/svgs/solid/user.svg' %}"
                     style="width:80px; height:60px"></a>

            {#                {% endif %}#}
        </nav>

        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="text-dark btn fw-bold fs-2" aria-current="page" href="{% url 'home' %}">Despre noi</a>
                    </li>
                    {#                {%  if request.user.is_authenticated and request.user,is_superuser %}#}
                    {#                {% if request.user.is_authenticated %}#}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark btn fw-bold fs-2" href="#" id="navbarDropdown"
                           role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Jucatori
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {#                    {% if perms.jucator.add_jucator %}#}
                            <li><a class="dropdown-item" href="{% url "create_player" %}">Adauga un jucator</a></li>
                            {#                    {% endif %}#}
                            <li><a class="dropdown-item" href="{% url "list_of_players" %}">Lista de jucatori</a></li>
                            {#                {% endif %}#}
                        </ul>
                    </li>
                    {#                  {%  if request.user.is_authenticated and request.user,is_superuser %}#}
                    {#                {% if request.user.is_authenticated %}#}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark btn fw-bold fs-2" href="#" id="navbarDropdown"
                           role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Evenimente
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {#                            {% if perms.echipa.add_echipa %}#}
                            <li><a class="dropdown-item" href="{% url 'create_event' %}">Adauga un eveniment</a>
                            </li>
                            {#                            {% endif %}#}
                            <li><a class="dropdown-item" href="{% url "list_of_events" %}">Lista cu evenimente</a></li>

                        </ul>
                    </li>
                    {#                {% endif %}#}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark btn fw-bold fs-2" href="#" id="navbarDropdown"
                           role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Locatii
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {#                            {% if perms.echipa.add_echipa %}#}
                            <li><a class="dropdown-item" href="{% url 'create_location' %}">Adauga o locatie</a>
                            </li>
                            {#                            {% endif %}#}
                            <li><a class="dropdown-item" href="{% url "list_of_locations" %}">Lista cu locatii</a></li>

                        </ul>
                    </li>
                    {#                {% endif %}#}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark btn fw-bold fs-2" href="#" id="navbarDropdown"
                           role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Sporturi
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {#                            {% if perms.echipa.add_echipa %}#}
                            <li><a class="dropdown-item" href="{% url 'create_sport' %}">Adauga sportul dorit</a>
                            </li>
                            {#                            {% endif %}#}
                            <li><a class="dropdown-item" href="{% url "list_of_sports" %}">Lista cu sporturi</a></li>

                        </ul>
                    </li>
                    {#                {% endif %}#}

                </ul>
            </div>
        </nav>
    </nav>
</header>


