{% extends 'base.html' %}
{% block title %} Adaugă sport {% endblock %}
{% block content %}
  <div class="container-fluid mt-5 pt-5">

         <div class="row mt-5 pt-5">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <div class="shadow-sm p-3 mb-5 text-center rounded" style="background-color: #F8D486;">
                        <h3>Crează sport</h3>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="card-body" style="background: bisque">
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer text-center rounded" style="background-color: #F8D486">
                            <button type="submit" class="btn btn-transparent border-primary rounded-pill">Salvare</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}